@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.navbar {
  padding: 20px 10px;
  font-size: 2rem;
  background-color: #1a85ff;
  color: #ffffff;
}

.searchBox {
  padding-top: 40vh;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 25vh;
}

#url {
  height: 50px;
  width: 600px;
  font-size: 1.5rem;
  border-radius: 30px;
  outline: none;
  padding: 20px;
  border: 2px solid #1a85ff;
}

#search-btn {
  height: 50px;
  width: 150px;
  font-size: 1.5rem;
  margin-left: 10px;
  border-radius: 30px;
  background-color: #1a85ff;
  border: #ffffff;
  color: #ffffff;
}

.web-name {
  padding-left: 20px;
}

.checked {
  color: green;
}

.box {
  margin-left: 20px;
  height: 80px;
  width: 200px;
  border: 3px solid indianred;
  padding: 5px;
}

.error-head {
  padding: 20px;
}

.error-tile {
  height: 130px;
  width: 800px;
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 20px;
  border: 3px solid indianred;
}
